.list {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--bgc-chat-sidebar-grid-item);

  > :last-child {
    border-bottom: 1px solid var(--c-root);
  }
}

.list-item {
  display: block;
  padding: var(--p-chat-sidebar-grid-item);
  border-top: 1px solid var(--c-root);
}

.active {
  background-color: var(--bgc-active-chat);
}
