.container {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: var(--gap-main);
  padding: var(--p-inline-container);
  background-image: var(--gradient-app);
}

.nav {
  padding: var(--p-inline-container);
  background-image: var(--gradient-inbox);
  color: var(--c-inbox);
}
