.form {
  display: grid;
  justify-items: start;
  gap: 2rem;
  padding: 2rem;
  background-image: var(--gradient-app);

  > label {
    font-weight: var(--fw-button);
    color: var(--c-link);
  }
}

.actions {
  display: flex;
  gap: 1rem;
}
