.container {
  composes: flex-wrap from global;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: var(--p-inline-container);
  position: relative;
  font-weight: var(--fw-link);
  color: var(--c-link);
  background-color: var(--bgc-brand);
}

.flex-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.list {
  display: flex;
  gap: 1rem;
}

.logo {
  color: var(--c-logo);
}
