.list-item {
  composes: flow-spacing from global;

  padding: 2rem;
  background-color: var(--bgc-content);

  img {
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
  }

  a {
    font-weight: var(--fw-heading);
    color: var(--c-error);
  }
}

.flex-row {
  composes: flex-wrap from global;
  gap: 1rem;
  font-weight: var(--fw-heading);
}
