.form {
  display: grid;
  justify-items: start;
  gap: 2rem;
  padding: 2rem;
  background-image: var(--gradient-friend);

  > label {
    flex-direction: column;

    input[type="file"] {
      padding: 0;
    }
  }
}
