.default {
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid lightblue;
  border-right-color: orange;
  animation: spinnerDefault 1s infinite linear;
}

@keyframes spinnerDefault {
  to {
    transform: rotate(1turn);
  }
}
