.profile {
  --outer-breakout: 4rem;
  --avatar-width: 5rem;
  --p-container: 2rem;

  display: grid;
  justify-items: center;
  grid-template-rows: [avatar-start] auto [avatar-end info-start] 1fr [info-end];
  grid-template-columns: var(--outer-breakout) [info-start] auto [avatar-start] auto [avatar-end] auto [info-end] var(
      --outer-breakout
    );
  row-gap: 2rem;
  padding: var(--p-container);
  position: relative;
  text-align: center;
  background-color: var(--bgc-notification);

  [data-bg] {
    width: 100%;
    height: calc(var(--p-container) + var(--avatar-width) / 2);
    position: absolute;
    background-image: linear-gradient(135deg, red, blue, green);
  }
}

.info {
  grid-area: info;
  font-weight: var(--fw-button);
  font-size: var(--fs-profile);

  [data-name] {
    color: blue;
  }

  [data-info] {
    color: red;
  }

  [data-bio] {
    color: green;
  }

  > * {
    padding: 0.5rem;
  }

  > span {
    font-weight: var(--fw-heading);
    font-size: var(--fs-profile);
  }
}

.avatar {
  grid-area: avatar;
  width: var(--avatar-width);
  aspect-ratio: 1;
  padding: 6px;
  border-radius: 50%;
  position: relative;
  background-image: linear-gradient(green, orange);

  img {
    border-radius: inherit;
  }
}
