.list {
  display: grid;
  gap: 2rem;
  grid-auto-rows: minmax(0, 12.5rem);
  font-weight: var(--fw-heading);
}

.item {
  display: grid;
  align-items: center;
  gap: 1rem 2rem;
  grid-template-columns: auto 1fr;
  grid-template-areas: "avatar name" "avatar email" "button .";
  padding: 2rem;
  background-color: var(--bgc-notification);

  img {
    grid-area: avatar;
    width: 4rem;
    aspect-ratio: 1;
    border-radius: 50%;
  }
}
