.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
  position: relative;
  font-weight: var(--fw-link);

  &[data-animating] {
    pointer-events: none;
  }
}

.list-item {
  display: grid;
  justify-content: start;
  align-items: center;
  column-gap: 2rem;
  grid-template-areas: "avatar name" "avatar email";
  padding: 1.5rem;
  outline: 0px solid transparent;
  font-weight: var(--fw-link);
  color: green;
  background-image: var(--gradient-friend);
  transition:
    transform 0.4s ease-out,
    opacity var(--transition-duration),
    outline 0.1s;

  &[data-active] {
    opacity: 0.5;
  }

  &[data-drop] {
    opacity: 0.5;
  }

  a {
    color: var(--c-brand);
  }
}

.avatar {
  grid-area: avatar;
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

.name {
  grid-area: name;
}

.email {
  grid-area: email;
}
