.list {
  --divider-spacing: 2rem;

  > * + * {
    margin-top: 2em;
  }

  padding-left: var(--divider-spacing);
  margin-left: var(--divider-spacing);
  border-left: 2px solid var(--c-box-shadow);
}
