.layout {
  display: grid;
  grid-template-rows: 1fr auto;
  background-color: var(--bgc-content);
}

.form {
  display: flex;

  > input {
    flex-grow: 1;
  }
}

.chatbox {
  composes: grid-stack from global;
}
