.container {
  composes: flow-spacing from global;
  place-self: center;
  padding: 2rem;
  background-color: var(--bgc-brand);
}

.form {
  composes: flow-spacing from global;
}

.actions {
  display: flex;
  gap: 1rem;
}

.links {
  display: flex;
  gap: 1rem;
}
