.container {
  display: grid;
  grid-template-columns: 1fr;
  max-height: var(--max-h-notification-box);
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--bgc-notification);
  visibility: hidden;
  z-index: 1;
  overflow: auto;

  @media screen and (min-width: 480px) {
    top: 100%;
  }

  > * {
    padding: 1rem;
  }
}

.notification {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.bell {
  composes: grid-stack from global;

  > span {
    justify-self: end;
    align-self: end;
    font-weight: var(--fw-heading);
    color: var(--c-root);
  }
}
