/* custom properties */
:root {
  /* box model */
  --flow-spacing: 1em;
  --max-w-container: var(--macro-grid-content-max-w);
  --max-w-dialog: 45rem;
  --max-w-skeleton: 60rem;
  --min-w-root: 20rem;
  --max-h-chatbox: 35rem;
  --max-h-notification-box: 40rem;
  --max-h-chat-sidebar-list: 20rem;
  --p-inline-container: 2rem;
  --p-chat-sidebar-grid-item: 0.5rem;
  --w-icon: 2rem;
  --box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;

  /* grid */
  --auto-grid-column-w: 15rem;
  --gap-main: 2rem;
  --macro-grid-breakout-column-w: calc(
    (var(--macro-grid-breakout-max-w) - var(--macro-grid-content-max-w)) / 2
  );
  --macro-grid-breakout-max-w: 90rem;
  --macro-grid-content-max-w: 70rem;
  --macro-grid-gap: 2rem;

  /* typography */
  --ff-root: system-ui, sans-serif;

  --fw-button: 600;
  --fw-form: 500;
  --fw-heading: 700;
  --fw-link: 500;
  --fw-root: 400;
  --fw-user-info: 800;

  --fs-h1: clamp(3rem, 2rem + 5vw, 5rem);
  --fs-h2: clamp(2rem, 1.5rem + 2.5vw, 3rem);
  --fs-h3: clamp(1.5rem, 1rem + 2.5vw, 2.5rem);
  --fs-h4: clamp(1.125rem, 0.6875rem + 2.1875vw, 2rem);
  --fs-label: 0.8125rem;
  --fs-profile: 1.125rem;
  --fs-root: 0.9375rem;

  /* colors */
  --c-white-900: #fff;
  --c-black-900: #000;
  --c-red-900: #f00;
  --c-orange-900: #ff7f00;
  --c-yellow-900: #ff0;
  --c-spring-900-green: #7fff00;
  --c-green-900: #0f0;
  --c-turquoise-900: #00ff7f;
  --c-cyan-900: #0ff;
  --c-ocean-900: #007fff;
  --c-blue-900: #00f;
  --c-violet-900: #7f00ff;
  --c-magenta-900: #f0f;
  --c-raspberry-900: #ff007f;

  /* gradients */
  --gradient-inbox: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  --gradient-app: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  --gradient-friend: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  --gradient-profile: radial-gradient(
    circle farthest-corner at 3.2% 49.6%,
    rgba(80, 12, 139, 0.87) 0%,
    rgba(161, 10, 144, 0.72) 83.6%
  );
  --gradient-progress-bar: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );

  /* transition */
  --transition-duration: 0.5s;
  --fade-transition-duration: 1s;
}

.light,
.dark {
  --c-error: var(--c-red-900);
  --c-follow-active: var(--c-black);
  --c-link-active: var(--c-blue-900);
  --c-nav: var(--c-black-900);
  --c-friend-request-pending: var(--c-violet-900);
  --c-text-landing-page: var(--c-white-900);
}

.light {
  --c-author: var(--c-violet-900);
  --c-divider: var(--c-black-900);
  --c-logo: inherit;
  --c-root: var(--c-black-900);

  --bgc-brand: var(--c-white-900);
  --bgc-button: var(--c-ocean-900);
  --bgc-button-disabled: #007f007f;
  --bgc-chat-active: var(--c-magenta-900);
  --bgc-chat-sidebar: var(--c-white-900);
  --bgc-chat-sidebar-grid-item: var(--c-ocean-900);
  --bgc-chat-room: var(--c-raspberry-900);
  --bgc-content: var(--c-white-900);
  --bgc-emoji-grid: var(--c-violet-900);
  --bgc-follow-button: var(--c-ocean-900);
  --bgc-form: var(--c-white-900);
  --bgc-friend-button: var(--c-ocean-900);
  --bgc-like: var(--c-violet-900);
  --bgc-navigation: #eee;
  --bgc-notification: var(--c-cyan-900);
  --bgc-placeholder: var(--c-violet-900);
  --bgc-profile: var(--c-white-900);
  --bgc-progress-bar: var(--c-blue-900);
  --bgc-root: #eee;
}

.dark {
  --c-root: var(--c-white-900);

  --bgc-brand: (--c-blue-900);
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
  font: inherit;
  color: inherit;
}

html {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  flex-grow: 1;
  overflow-y: scroll;
}

a,
button,
input,
label {
  cursor: pointer;
}

a {
  display: inline-block;
  font-weight: var(--fw-link);
  text-decoration: none;

  &:hover {
    text-decoration: revert;
  }
}

button {
  border: none;
  font-weight: var(--fw-button);
  background-color: transparent;
  transition: opacity var(--transition-duration);

  &:hover {
    opacity: 0.5;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: revert;
  font-weight: var(--fw-heading);
}

img {
  display: block;
  max-width: 100%;
}

ol,
ul {
  list-style: none;
}

textarea {
  width: 100%;
  min-height: 10em;
  padding: 0.2em;
  cursor: text;
  background-color: #ddd;
  overflow: auto;
}

/* root styles */
#root {
  display: grid;
  min-height: 100vh;
  min-width: var(--min-w-root);
  font-family: var(--ff-root);
  font-weight: var(--fw-root);
  font-size: var(--fs-root);
  color: var(--c-root);
  background-color: var(--bgc-root);
}

@media (prefers-reduced-motion) {
  * {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}
