/* custom properties */
:root {
  /* box model */
  --flow-spacing: 1em;
  --max-w-container: var(--macro-grid-content-max-w);
  --max-w-dialog: 45rem;
  --max-w-skeleton: 60rem;
  --min-w-root: 20rem;
  --max-h-chatbox: 35rem;
  --max-h-notification-box: 40rem;
  --max-h-chat-sidebar-list: 20rem;
  --p-inline-container: 2rem;
  --p-chat-sidebar-grid-item: 0.5rem;
  --w-icon: 2rem;

  /* grid */
  --auto-grid-column-w: 15rem;
  --gap-main: 2rem;
  --macro-grid-breakout-column-w: calc(
    (var(--macro-grid-breakout-max-w) - var(--macro-grid-content-max-w)) / 2
  );
  --macro-grid-breakout-max-w: 90rem;
  --macro-grid-content-max-w: 70rem;
  --macro-grid-gap: 2rem;

  /* typography */
  --ff-root: system-ui, sans-serif;

  --fw-button: 600;
  --fw-form: 500;
  --fw-heading: 700;
  --fw-link: 500;
  --fw-root: 400;
  --fw-user-info: 800;

  --fs-h1: 3rem;
  --fs-h2: 2rem;
  --fs-h3: 1.5rem;
  --fs-h4: 1.125rem;
  --fs-label: 0.8125rem;
  --fs-profile: 1.125rem;
  --fs-root: 0.9375rem;

  /* colors */
  --c-text: #ffffff;
  --c-box-shadow: #d8e1ef;
  --c-brand: #808307;
  --c-error: #da3633;
  --c-heading: #4040ff;
  --c-link: #000;
  --c-link-active: #4080f0;
  --c-follow-active: #6080b0;
  --c-logo: #404040;
  --c-pending-message: #4060b0;
  --c-root: #000000;
  --c-inbox: #804000;

  --bgc-brand: #aaa;
  --bgc-button: #408fa6;
  --bgc-button-disabled: var(--bgc-emoji-grid);
  --bgc-follow-button-active: #454857;
  --bgc-friend-button: #e0a427;
  --bgc-content: #fff;
  --bgc-emoji-grid: #2c4e70;
  --bgc-like: #802c80;
  --bgc-notification: #2c4e70;
  --bgc-root: #eff4fb;
  --bgc-chat-sidebar-grid-item: #4e5d6b;
  --bgc-active-chat: #38230b;
  --bgc-progress-bar: #0f1880;
  --gradient-inbox: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  --gradient-app: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  --gradient-friend: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  --gradient-profile: radial-gradient(
    circle farthest-corner at 3.2% 49.6%,
    rgba(80, 12, 139, 0.87) 0%,
    rgba(161, 10, 144, 0.72) 83.6%
  );

  --gradient-progress-bar: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );

  /* transition */
  --transition-duration: 0.5s;
  --fade-transition-duration: 1s;
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
  font: inherit;
  color: inherit;
}

html {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  flex-grow: 1;
  overflow-y: scroll;
}

a,
button,
input,
label {
  cursor: pointer;
}

a {
  display: inline-block;
  font-weight: var(--fw-link);
  text-decoration: none;

  &:hover {
    text-decoration: revert;
  }
}

button {
  border: none;
  font-weight: var(--fw-button);
  background-color: transparent;
  transition: opacity var(--transition-duration);

  &:hover {
    opacity: 0.5;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: revert;
  font-weight: var(--fw-heading);
}

img {
  display: block;
  max-width: 100%;
}

ol,
ul {
  list-style: none;
}

textarea {
  padding: 0.2em;
  width: 100%;
  max-width: 100%;
}

/* root styles */
#root {
  display: grid;
  min-height: 100vh;
  min-width: var(--min-w-root);
  font-family: var(--ff-root);
  font-weight: var(--fw-root);
  font-size: var(--fs-root);
  color: var(--c-root);
  background-color: var(--bgc-root);
}

@media (prefers-reduced-motion) {
  * {
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}
