.layout {
  display: grid;
  max-height: var(--max-h-chat-sidebar-list);
  background-color: var(--bgc-chat-sidebar-grid-item);

  > :last-child {
    border-bottom: 1px solid var(--c-root);
  }
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--p-chat-sidebar-grid-item);
  border-top: 1px solid var(--c-root);
}
